*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

.sect1{
  height: 71px;
  background-color: darkblue;
}

.sect1 input{
  height: 21px;
  padding-right: 40px;
  float: right;
  margin-right: 20px;
  margin-top: 20px;
}

.sect2{
  background-color: #0a043c;
  height: 100vh;
  overflow-y: scroll;
}


.logo{
  height: 64px;
  width: 69px;
  margin-left: 30px;
  border-radius: 67px;
}

.box1{
  display: flex;
  height: 200px;
  width: 200px;
  background-color: yellow
}
